/*
* Email Table Stylesheet file.
*/



.table-view {
-fx-base: #1d1d1d;
-fx-control-inner-background: #1d1d1d;
-fx-background-color: #1d1d1d;
-fx-table-cell-border-color: transparent;
-fx-table-header-border-color: transparent;
}

.table-view:focused .table-row:selected {
-fx-background-color: -fx-focus-color;
}

.table-row-cell:selected .table-cell {
   -fx-background-color: blue;
}

.menu .left-container {
-fx-background-color: black;
}
.table-view .column-header-background {
-fx-background-color: transparent;
}

.table-view .cell{
-fx-alignment: center-left;
-fx-background-color: gray;
-fx-border-color: #29292D;
-fx-text-fill: white;
-fx-alignment: CENTER_LEFT;

}